	.editForm {
		font-family: comic sans ms;
		font-size: 20px;
		text-align: justify;
	}

	.inputType{
		size: 25px;
		height: 30px;
		font-size: 27px;
		width: 280px;
	}

	table {
		border-collapse: collapse;
		font-size: 20px;
		color: black;
		background-color: white;
		margin: auto;
	}

	table {
 		counter-reset: rowNumber;
 		background-color: #F1EFE9;
 	}

	table tr td:first-child::before{
		counter-increment: rowNumber;
    	content: counter(rowNumber);
	}	

	th, td {
		border: 1px solid #dddddd;
  		text-align: center;
  		padding: 15px;
	} 

/*	tr:nth-child(even) {
  		background-color: #dddddd;
	}*/

	input {
		display: inline-block;
		border: 1px solid;
		background-color: #F1EFE9;
	}

	button {
		text-align: center;
		border-color: white; 
		font-size: 18px;
		color: white;
		height: 40px;
		width: 70px;
	}

	.editButton {
		position: absolute;
		right: 30%;
		border-color: white; 
	}
 
	.Input {
		font-family: comic sans ms;
		font-size: 20px;
		max-width: 500px;
		display: flex;
	    align-items: center;
	    flex-direction: row;
	}

	.Input > div {
		width: 20%;
		text-align: right;
	}

	.Input > input {
		margin-left: 10px;
		width: 70%;
	}

	.Input + .Input {
		margin-top: 30px;
	}

	#inputSearch{
		border-color: black;
		width: 200px;
		height: 45px;
		font-size: 20px;
		font-family: arial;
		box-sizing: border-box;
		border: 2px solid darkgray;
  		border-radius: 4px;
		position: relative;
		right: 30%;
	}













